<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SportVitaal</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aanbod">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Aanbod
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rooster">
                <span class="bi bi-calendar-week-nav-menu" aria-hidden="true"></span> Rooster
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="abonnementen">
                <span class="bi bi-card-checklist-nav-menu" aria-hidden="true"></span> Abonnementen
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aanmelden">
                <span class="bi bi-person-plus-nav-menu" aria-hidden="true"></span> Aanmelden
            </NavLink>
        </div>

        <div class="nav-item px-3 mt-3">
            <NavLink class="nav-link" href="medewerker/login">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Medewerker login
            </NavLink>
        </div>
    </nav>
</div>
