@page "/medewerker"
@layout AdminLayout

<PageTitle>Beheer</PageTitle>

<h1 class="h3">Beheer dashboard</h1>
<p>Welkom in het beheer. Kies links een onderdeel om te beheren.</p>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mt-1">
    <div class="col"><a class="btn btn-outline-primary w-100" href="medewerker/workouts">Workouts</a></div>
    <div class="col"><a class="btn btn-outline-primary w-100" href="medewerker/instructeurs">Instructeurs</a></div>
    <div class="col"><a class="btn btn-outline-primary w-100" href="medewerker/lessen">Lessen</a></div>
    <div class="col"><a class="btn btn-outline-primary w-100" href="medewerker/bezetting">Bezetting</a></div>
    <div class="col"><a class="btn btn-outline-primary w-100" href="medewerker/leden">Leden</a></div>
</div>
